*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    min-height:100vh;
    overflow:hidden;
}

/* Background page */
.home{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#f4f4f4;
}

/* Overlay */
.overlay{
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);
}

/* Modal */
.city-modal{
    width:750px;
    max-width:90%;
    background:#fff;
    border-radius:25px;
    padding:35px;
    box-shadow:0 20px 50px rgba(0,0,0,0.2);
}

.modal-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:40px;
}

.modal-header h2{
    font-size:32px;
    font-weight:700;
}

.close-btn{
    font-size:34px;
    cursor:pointer;
}

/* Explore Button */
.explore-btn{
    background:#000;
    color:#fff;
    border:none;
    padding:20px 28px;
    border-radius:15px;
    font-size:20px;
    font-weight:600;
    cursor:pointer;
    margin-bottom:45px;
}

/* Search */
.search-box{
    height:70px;
    background:#f3f3f3;
    border-radius:35px;
    display:flex;
    align-items:center;
    padding:0 25px;
    margin-bottom:50px;
}

.search-box i{
    font-size:28px;
    color:#444;
    margin-right:15px;
}

.search-box input{
    width:100%;
    border:none;
    outline:none;
    background:transparent;
    font-size:20px;
}

/* Popular */
.popular-title{
    color:#666;
    font-size:20px;
    margin-bottom:25px;
}

.city-list{
    border-top:1px solid #eee;
}

.city-item{
    padding:25px 10px;
    font-size:20px;
    display:flex;
    align-items:center;
    gap:12px;
    cursor:pointer;
}

.city-item:hover{
    background:#f8f8f8;
}

.city-modal{
    width: 750px;
    max-width: 90%;
    max-height: 90vh;   /* limits height */
    overflow-y: auto;   /* enables scrolling */
    background: #fff;
    border-radius: 25px;
    padding: 35px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
}